.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv

dist/
*.egg-info/

.vscode/
.idea/
.venv/
.devcontainer/
.aider*

**/__samples__/
**/__pycache__/

htmlcov/

.coverage
.notifier
.DS_Store
.env
*.pyc
*~
*.conf
*.db
*.orig

.config/.fix-python-libs
poetry.lock
